@inherits LayoutComponentBase
@using ComponentToComponentCommunication.Data
@inject IProductService productService
<PageTitle>ComponentToComponentCommunication</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
     
    <main>
        <div class="top-row px-4">
            <div class="hstack gap-2">
                <i class="oi oi-cart text-danger"></i> <span class="text-danger">My Cart[ @productService.CartCount ]</span>
                <span class="text-primary">Product Count[ @productService.ProductCount ]</span>
            </div>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    protected override void OnInitialized()
    {
        productService.ProductEvent += StateHasChanged;
    }

    public void Dispose()
    {
        productService.ProductEvent -= StateHasChanged;
    }
}